# DJANGO

DJANGO_SETTINGS_MODULE=<DJANGO_SETTINGS_MODULE>
ALLOWED_HOSTS=<ALLOWED_HOSTS>
SECRET_KEY=<SECRET_KEY>
CELERY_BROKER_URL=<CELERY_BROKER_URL>
CELERY_TASK_DEFAULT_QUEUE=<CELERY_TASK_DEFAULT_QUEUE>
CELERY_FLOWER_USER=<CELERY_FLOWER_USER>
CELERY_FLOWER_PASSWORD=<>
CHANNEL_LAYER_HOSTS=<>

DATABASE_URL=<DATABASE_URL>
DATABASE_TEST_URL=<DATABASE_TEST_URL>

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=<SOCIAL_AUTH_GOOGLE_OAUTH2_KEY>
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=<SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET>

SOCIAL_AUTH_FACEBOOK_KEY=<SOCIAL_AUTH_FACEBOOK_KEY>
SOCIAL_AUTH_FACEBOOK_SECRET=<SOCIAL_AUTH_FACEBOOK_SECRET>
