extends base

- load static
- load crispy_forms_tags

block title
    |Iniciar sesión



block body_content
    body(class="pace-top")
        div(id="page-loader",class="fade show")
            span(class="spinner")


        div(id="page-container",class="fade")
            div(class="login login-with-news-feed")

                div(class="news-feed")
                    div(class="news-image",style="background-image: url({% static 'assets/img/landing/login-background.jpg' %})")


                div(class="right-content")
                    div(class="login-header")
                        img(src="{% static 'assets/img/colset.svg'%}", style="width:70%;",class="mx-auto d-block mb-3")

                    div(class="login-content")
                        | {% crispy form %}
                        hr
                        p(class="text-center text-grey-darker mb-0") &copy; Copyright 2020 Colset S.A.S.

block body_script