# DJANGO

DJANGO_SETTINGS_MODULE=config.settings.production
ALLOWED_HOSTS=iracaz1.com,localhost
SECRET_KEY=_2p_4hvd2p^j%@p47bi=v*=1w!49y3s_nn5k!om&d_t*+v-s9z
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_TASK_DEFAULT_QUEUE=colset
CELERY_FLOWER_USER=colset
CELERY_FLOWER_PASSWORD=colset
CHANNEL_LAYER_HOSTS=redis://redis:6379/0

DATABASE_URL=<DATABASE_URL>
DATABASE_TEST_URL=<DATABASE_TEST_URL>
